<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<div th:replace="~{header :: header}"></div>
<div class="card">
    <div class="card-body">
        <h3 class="card-title" th:text="${movie.name}">Movie Name</h3>
        <h5 class="card-subtitle" th:text="${movie.genre}">Movie Genre</h5>
        <p th:text="'Email Address: ' + ${movie.description}">Movie description </p>
        <a class="btn btn-primary" th:href="@{/movies/{movieId}/delete(movieId=${movie.id})}">Delete</a>
    </div>
</div>
<div class="container">
    <h1 class="text-center">Schedules</h1>

    <table class="table">
        <thead>
        <th scope="col">Movie Theater Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">Finish Time</th>
        <th scope="col">Edit</th>
        </thead>
        <tbody>
        <tr th:each="schedule : ${schedules}">
            <td th:text="${schedule.movieTheater.name}"></td>
            <td th:text="${schedule.startTime}"></td>
            <td th:text="${schedule.finishTime}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/movie/{movieId}/schedule/{scheduleId}/order(movieId=${movie.id},scheduleId=${schedule.id})}">Buy a ticket</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>