<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title" th:text="${movie.name}">Movie Name</h3>
            <h5 class="card-subtitle" th:text="${movie.genre}">Movie Genre</h5>
            <p th:text="'Email Address: ' + ${movie.description}">Movie description </p>
            <a class="btn btn-primary" th:href="@{/movies/{movieId}/delete(movieId=${movie.id})}">Delete</a>
        </div>
    </div>
</div>
</body>
</html>